
{% extends 'base.html' %}

{% block content %}
            <h1 class="heding1-t"> 🏠<span class="tex-red">About Us</span></h1><br /> <br>
                <span class="color-light">DosroGhar is a web application designed for rental property management. <br>
                  It facilitates the interaction between property owners, tenants, and administrators in the context of renting accommodations.<br>
                  Users can sign up as owners to list their properties, providing details such as location, amenities, and pricing.<br>
                  Prospective tenants can browse available rental listings, search by location and cost, and initiate booking requests.<br>
                  The admin role involves approving or rejecting property listings and managing bookings. <br><br>
                  DosroGhar aims to streamline the rental process, enhancing communication and efficiency among property stakeholders.
                </span>
{% endblock %}