  /* -------------------poster-------------------- */
.div-poster {
    background-image: url('{% static "poster.png" %}');
    background-size: cover;
    background-position: center;
    height: 450px;
    text-align: center;
    margin-bottom: -10px;
    margin-top: 5px;
}




  /* ---search--- */
  .inputBox :focus {
     outline: none;

  }

  .inputBox {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .in-1 {
     height: 50px;
     width: 500px;
     border-radius: 30px 0 0 30px;
     background-color: white;
     border: 3px solid #d8232a;
     padding-left: 20px;
     font-size: 15px;
  }

  .btn-search {
     height: 57px;
     font-size: 17px;
     color: white;
     width: 100px;
     background-color: #d8232a;
     border-radius: 0 30px 30px 0;
     margin-left: -5px;
     border: 3px solid #d8232a;
     padding-left: 10px;
     padding-right: 10px;
     cursor: pointer;
     font-size: 18px; /* Adjust the font size as needed */
    padding: 10px 20px; /* Adjust padding to set the initial size */
    transition: filter 0.3s ease, transform 0.3s ease;

  }

  .btn-search:hover {
  filter: brightness(80%);
  transform: scale(1.1);
  }

  .hel-1 {
     color: white;
     font-size: 45px;
     padding-top: 100px;
  }

  .header-btn {
     display: flex;
     justify-content: center;


  }

  .post-text {
     font-size: 20px;

  }


  .update-btn {
     height: 45px;
     width: 250px;
     margin-top: 80px;
     border-radius: 50px;
     background-color: #d8232a;
     color: white;
    /* border: 1px solid black; */
     border-radius: 50px;
     border: none;
     margin-left: 30px;


  }

  .update-btn:hover {
     color: #d8232a;
     background-color: white;
     border: 2px solid #d8232a;
     box-shadow: 10px 10px 10px 2px black;
  }



  /* roon card */
  .rk1-div{
     width: 300px;
     border: 2px solid red;
     margin: 30px;
     ;

  }
  .rk1-div:hover{box-shadow: 0 2px 20px 0 rgb(87, 87, 87);
cursor: pointer;}
  .rk1-img{
     width: 300px;
  }
  .rk1-span{
     font-size: 20px;
  }
  .rk1-divsub{
     margin: 10px;
     margin-bottom: 20px;
  }
  .rk1-anchor{
     text-decoration: none;
  }